.movie-item {
  width: 185px;
  height: 278px;

  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;

  margin: 4px;

  transition: all 400ms;
}

.movie-item:hover {
  
}

.movie-item.selected {
  width: 370px;
  height: 556px;
}
